# Ignore the dataset directory
/dataset/
/classes/
/GUI/Data_Analysis_Suite_Output_Files

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/
